body{
background: #02010a;
font-family: 'Dancing Script', cursive;}

.contenido{
  max-width: 900px;
  margin: auto;}

img{
box-shadow: 2px 2px 2px #02010a;}

.cabecera{
  width: 100%;
  height: 100px;
  background: #5b7989;
  display:flex;
  flex-direction: row;
  border-top-left-radius: 10px;
  -moz-boder-top-left-radius:10px;
  -webkit-border-top-left-radius:10px;
  border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  animation: slidein 3s;}

  
h1{  
  width: 50%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top:auto; }

.titulo {
 justify-content: left;
 padding-left: 60px;
 color: white;
 text-shadow: 2px 2px  #02010a;}


nav { 
  width:50%; height: 100px;}
  

nav, ul ,li, .item {
  list-style: none;
  padding-right: 10px;
  margin:auto;
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 27px;
  text-shadow: 2px 2px  #02010a;}

.sin-subrayado{
    text-decoration:none;}

  
img {width: 90%}

.imagenC{
 display:flex; 
 flex-direction: row;
 justify-content:center;
 padding: 20px;
 background: #82c3a6;}

  
.imagenS{
width: 100%;
display:flex;
flex-direction: row;
text-align:center;
background-color: #d5c75f;
border: 1px;}

#imagen1{
width: 50%;
padding: 20px;}
  
#imagen2{
width: 50%;
padding: 20px;}

.imagenS img{
  width: 100%;
  height: 90%;}


#imagen1 a, #imagen2 a {
  font-size: 25px;
  color: black;}


  #imagen1{
    transition: 1s;
}    
#imagen1:hover{
    box-shadow: 2px 2px #82c3a6;
    transform: rotate(10deg);
  }

#imagen2{
	transition: 1s;
}

#imagen2:hover {
    box-shadow: 2px 2px #82c3a6;
  	transform: translate(20px, -5px);
}


#pie {
width: 100%;
display:flex;
flex-direction:row; 
background: #C6d5c5;
font-size:  1.60em;
border-radius: 0px 0px 10px 10px;
-moz-border-radius: 0px 0px 10px 10px;
-webkit-border-radius: 0px 0px 10px 10px;}

.info{
width: 23%;
padding:1%;
margin: 1%;
text-align: left;
padding-left: 25px;}

h5{ font-size: 0.8em;
margin-top: 10px;}

.paisajes{
  width: 100%;
  display: flex;
  padding: auto;
  flex-direction: row;
  background-color: #d5c75f;
  border: 1px;}
  
.palmeras{
 width: 32.3%;
 padding: 1%;
 justify-content: center;
}
  
.palmeras img {
  width: 90%;
  height: 95%;
  display: block;
  margin: auto; }

#blur{
-webkit-filter:blur(10px); 
filter: blur (10px); }

.grayscale {
-webkit-filter: grayscale(100%); 
filter: grayscale(100%); }

#sepia{
-webkit-filter: sepia(90%); 
filter:sepia (90%); }


.imagenes{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #d5c75f;
  border: 1px;
  
}

.mujeres{
 width: 32.3%;
 padding: 1%;
 justify-content: center;
}
  
.mujeres img {
  width: 90%;
  height: 95%;
  display: block;
  margin: auto;}


#blur2{
-webkit-filter:blur(10px); 
filter: blur (10px); }

.grayscale2 {
-webkit-filter: grayscale(100%); 
filter: grayscale(100%); }

#sepia2{
-webkit-filter: sepia(90%); 
filter:sepia (90%); }




@media screen and (max-width: 900px){
   
body {
  background: blue;}

.contenido {
  max-width: 100%;}

.cabecera{
  width: 100%;
  display:flex;
  flex-direction: column;
  height: 150px;}  

h1{  
  width: 100%;}


.titulo {
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-left:5px; }


nav { 
width:100%;}   

nav, ul, li {
width:100%;
justify-content: center;
align-items: center;}

.item{
font-size: 22px;
padding-right:0px;}


  
.imagenC {
display:flex;
flex-direction: column;
padding: 25px;}

img{width:100%}


.imagenS{
width: 100%;
display:flex;
flex-direction: column;}
   
#imagen1{
width: 90%;
padding:5%}
      
#imagen2{
width: 90%;
padding:5%;}


.paisajes{
width: 100%;
padding-bottom: 10px;
display:flex;
flex-direction: column;}

.palmeras{
  width: 100%;}

.palmeras img {
 width: 90%;}

 .imagenes{
  width: 100%;
  padding-bottom: 10px;
  display:flex;
  flex-direction: column;}
  
  .mujeres{
    width: 100%;}
  
  .mujeres img {
   width: 90%;}
   
#pie {
  width: 100%;
  display:flex;
  flex-direction:column;}
  
  
.info{width: 100%;
  padding-left: 30px;} 
}  



@media screen and (min-width:900px){
body{
background: yellow;}

}

@media screen and (max-width:382px){
body{
background: red ;}

.contenido {
max-width: 100%;}
    
.cabecera{
width: 100%;
height: 160px;
display:flex;
flex-direction: column;}  
  
h1{  
width: 100%; text-align: center;}


.titulo {
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-left:3px; }

.titulo {
justify-content: center;
align-items: center;}

    
nav { 
width:100%;}   
    
nav, ul, li{
width:100%;
padding-left: 4px; } 
      
.item{
font-size: 21px;
padding-right:0px;}

.imagenC{
display:flex;
flex-direction: column;
padding:25px;}
    
img{width: 100%;}
    
.imagenS{
width: 100%;
display:flex;
flex-direction: column;}
       
#imagen1{
  width: 90%;
  padding:5%;}
          
#imagen2{
  width: 90%;
  padding:5%;}

#imagen1 a, #imagen2 a {
font-size: 21px;}


.paisajes{
  width: 100%;
  padding-bottom: 10px;
  display:flex;
  flex-direction: column;}
  
.palmeras{
  width: 100%;}
  
.palmeras img {
  width: 90%;}


.imagenes{
  width: 100%;
  padding-bottom: 10px;
  display:flex;
  flex-direction: column;}
    
.mujeres{
  width: 100%;}
    
.mujeres img {
  width: 90%;}

   
#pie {
width: 100%;
display:flex;
flex-direction:column;}
        
.info{width: 100%;
padding-left:14px;} 

}

@-webkit-keyframes slidein {
  0%{
      margin-top:150%;
  }
  60%{
      margin-top:-5%;
  }
  100%{
      margin-top:0%;
  }
}
